@using CMSys.Core.Entities.Catalog
@model IEnumerable<Trainer>

<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Trainers - CMSys</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="~/css/Trainers.css">
    <link rel="icon" href="/images/icon-cmsys-web.ico" />
</head>
<body>
    <div class="main-container">
        <div class="left-nav">
            <div class="left-plate">
                <div class="logo-name">
                    <div class="main-logo"></div>
                    <p class="system-name">CMSYS</p>
                </div>
                <ul>
                    <li>
                        <div class='menu-title2'>
                            <div class="courses-logo"></div>
                            <a href="/courses" class="nav-item" asp-controller="Courses" asp-action="Courses">Courses</a>
                        </div>
                    </li>
                    <li>
                        <div class='menu-title2'>
                            <div class="trainers-logo"></div>
                            <a href="/trainers" class="nav-item" asp-controller="Trainers" asp-action="ShowTrainers">Trainers</a>
                        </div>
                        <hr style="border:none;height:1px;background-color:white;opacity:30%;margin-left: 10px;width:230px;">
                    </li>
                    <li>
                        <div class='menu-title2'>
                            <div class="list-logo"></div>
                            <a href="/admin/courses" class="nav-item" asp-controller="Courses" asp-action="CoursesList">Course List</a>
                        </div>
                    </li>
                    <li>
                        <div class='menu-title2'>
                            <div class="list-logo"></div>
                            <a href="/admin/coursegroups" class="nav-item" asp-controller="Courses" asp-action="CourseGroups">Course Groups</a>
                        </div>
                    </li>
                    <li>
                        <div class='menu-title2'>
                            <div class="list-logo"></div>
                            <a href="/admin/trainers" class="nav-item active" asp-controller="Trainers" asp-action="TrainerList">Trainer List</a>
                        </div>
                    </li>
                    <li>
                        <div class='menu-title2'>
                            <div class="trainer-groups-logo"></div>
                            <a href="/admin/trainergroups" class="nav-item" asp-controller="Courses" asp-action="CoursesList">Trainer Groups</a>
                        </div>
                    </li>
                    <li>
                        <div class='menu-title2'>
                            <div class="users-logo"></div>
                            <a href="/admin/users" class="nav-item" asp-controller="User" asp-action="ShowUsers">Users</a>
                        </div>
                    </li>
                </ul>
                <div class="nav-arrow">
                    <i class="arrow left"></i>
                </div>
            </div>
            <div class="nav-arrow" id="right-arrow" style="visibility:hidden;margin:0;margin-top:-42px;position:fixed;">
                <i class="arrow right"></i>
            </div>
        </div>
        <div class="header-content-box">
            <div class="header">
                <div class="user-login-container">
                    <a class="user-name" style="color: rgb(128,128,128); cursor:pointer;" onclick="location.href='@Url.RouteUrl(new { controller = "Login", action = "Logoff" })'">@User.Identity.Name</a>
                    <img src="~/images/login-user.png" style="height: 15px; width: 15px;margin-left:0px;">
                </div>
            </div>
            <div class="content">
                <p class="page-name" style="display:inline-block">Trainers</p>
                <button class="btn btn-primary add-button" style="float:right;margin-right:20px;margin-top:20px;" onclick="location.href='@Url.Action("CreateTrainer","Trainers")'">Create Trainer</button>
                <div class="trainer-list-container">
                    <table class="table" style="color: rgb(128,128,128); font-size: 14px;">
                        <thead style="border-bottom: 3px solid rgb(155,155,155);">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Group</th>
                                <th scope="col">Order</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <div class="trainers-item-image-name">
                                            <div class="trainer-list-image" style="background-image:url(data:image/jpeg;base64,@Convert.ToBase64String(item.User.Photo))"></div>
                                            <p style="color:royalblue;margin-top:30px;margin-left:10px;">@item.User.FullName</p>
                                        </div>
                                    </td>
                                    <td>
                                        <p style="margin-top:30px;">@item.TrainerGroup.Name</p>
                                    </td>
                                    <td>
                                        <p style="margin-top:30px;">@item.VisualOrder</p>
                                    </td>
                                    <td>
                                        <div style="display:inline-block;margin-top:20px;">
                                            <button type="button" id="@item.Id" class="btn courses-list-item-edit courses-event-item" onclick="location.href='@Url.RouteUrl(new { controller = "Trainers", action = "UpdateTrainer", id = item.Id })'"></button>
                                        </div>
                                        <div style="display:inline-block;margin-left:5px;">
                                            <button type="button" id="@item.Id" class="btn trainer-list-item-delete courses-event-item"></button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="~/js/trainer.js"></script>
    <script src="~/js/logoff.js"></script>
    <script src="~/js/nav-animation.js"></script>
</body>
</html>

