@using CMSysWeb.Models
@model CoursesTypesGroups

<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Courses - CMSys</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="~/css/log-off.css" />
    <link rel="icon" href="/images/icon-cmsys-web.ico" />
</head>
<body>
    <div class="main-container">
        <div class="left-nav">
            <div class="left-plate">
                <div class="logo-name">
                    <div class="main-logo"></div>
                    <p class="system-name">CMSYS</p>
                </div>
                <ul>
                    <li>
                        <div class='menu-title2'>
                            <div class="courses-logo"></div>
                            <a href="/courses" class="nav-item active" asp-controller="Courses" asp-action="Courses">Courses</a>
                        </div>
                    </li>
                    <li>
                        <div class='menu-title2'>
                            <div class="trainers-logo"></div>
                            <a href="/trainers" class="nav-item" asp-controller="Trainers" asp-action="ShowTrainers">Trainers</a>
                        </div>
                        @if (User.IsInRole("Admin"))
                        {
                            <hr style="border:none;height:1px;background-color:white;opacity:30%;margin-left: 10px;width:230px;">
                            <li>
                                <div class='menu-title2'>
                                    <div class="list-logo"></div>
                                    <a href="/admin/courses" class="nav-item" asp-controller="Courses" asp-action="CoursesList">Course List</a>
                                </div>
                            </li>
                            <li>
                                <div class='menu-title2'>
                                    <div class="list-logo"></div>
                                    <a href="/admin/coursegroups" class="nav-item" asp-controller="Courses" asp-action="CourseGroups">Course Groups</a>
                                </div>
                            </li>
                            <li>
                                <div class='menu-title2'>
                                    <div class="list-logo"></div>
                                    <a href="/admin/trainers" class="nav-item" asp-controller="Trainers" asp-action="TrainerList">Trainer List</a>
                                </div>
                            </li>
                            <li>
                                <div class='menu-title2'>
                                    <div class="trainer-groups-logo"></div>
                                    <a href="/admin/trainergroups" class="nav-item" asp-controller="Courses" asp-action="CoursesList">Trainer Groups</a>
                                </div>
                            </li>
                            <li>
                                <div class='menu-title2'>
                                    <div class="users-logo"></div>
                                    <a href="/admin/users" class="nav-item" asp-controller="User" asp-action="ShowUsers">Users</a>
                                </div>
                            </li>
                        }
                    </ul>
                    <div class="nav-arrow">
                        <i class="arrow left"></i>
                    </div>
                </div>
                <div class="nav-arrow" id="right-arrow" style="visibility:hidden;margin:0;margin-top:-42px;position:fixed;">
                    <i class="arrow right"></i>
                </div>
            </div>
        <div class="header-content-box">
            <div class="header">
                <div class="user-login-container">
                    <a class="user-name" style="color: rgb(128,128,128); cursor:pointer;" onclick="location.href='@Url.RouteUrl(new { controller = "Login", action = "Logoff" })'">@User.Identity.Name</a>
                    <img src="~/images/login-user.png" style="height: 15px; width: 15px;margin-left:0px;">
                </div>
            </div>
            <div class="content">
                <p class="page-name">Courses</p>
                <div class="filter-container">
                    <div class="my-page-buttons">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item">
                                    @{
                                        var prevPageNumber = Model.CoursesPagedList.Page - 1;
                                        var nextPageNumber = Model.CoursesPagedList.Page + 1;
                                        var prevPageBeforeTotal = Model.CoursesPagedList.TotalPages - 1;
                                        var countbuttons = 3;
                                        var counter = 0;
                                    }
                                    @if (!Model.CoursesPagedList.CanPrevious)
                                    {
                                        <a class="page-link" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    }
                                    else
                                    {
                                        @if (Model.GroupIdFiler == null && Model.TypeIdFiler == null)
                                        {
                                            <a class="page-link" href="/courses/page/@prevPageNumber/null/null" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                        }
                                        else if (Model.GroupIdFiler != null && Model.TypeIdFiler == null)
                                        {
                                            <a class="page-link" href="/courses/page/@prevPageNumber/@Model.GroupIdFiler" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                        }
                                        else if (Model.GroupIdFiler == null && Model.TypeIdFiler != null)
                                        {
                                            <a class="page-link" href="/courses/page/@prevPageNumber/null/@Model.TypeIdFiler" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                        }
                                        else
                                        {
                                            <a class="page-link" href="/courses/page/@prevPageNumber/@Model.GroupIdFiler/@Model.TypeIdFiler" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                        }
                                    }
                                </li>
                                @for (int i = Model.CoursesPagedList.Page; i <= Model.CoursesPagedList.TotalPages; i++)
                                {
                                    @if (counter < countbuttons)
                                    {

                                        @if (i != Model.CoursesPagedList.Page)
                                        {
                                            @if (Model.GroupIdFiler == null && Model.TypeIdFiler == null)
                                            {
                                                <li class="page-item"><a class="page-link" href="/courses/page/@i/null/null">@i</a></li>
                                            }
                                            else if (Model.GroupIdFiler != null && Model.TypeIdFiler == null)
                                            {
                                                <li class="page-item"><a class="page-link" href="/courses/page/@i/@Model.GroupIdFiler">@i</a></li>
                                            }
                                            else if (Model.GroupIdFiler == null && Model.TypeIdFiler != null)
                                            {
                                                <li class="page-item"><a class="page-link" href="/courses/page/@i/null/@Model.TypeIdFiler">@i</a></li>
                                            }
                                            else
                                            {
                                                <li class="page-item"><a class="page-link" href="/courses/page/@i/@Model.GroupIdFiler/@Model.TypeIdFiler">@i</a></li>
                                            }
                                        }
                                        else
                                        {
                                            <li class="page-item"><a class="page-link">@i</a></li>
                                        }
                                        counter++;
                                    }
                                    else
                                    {
                                        break;
                                    }
                                }
                                @if (!Model.CoursesPagedList.CanNext)
                                {
                                    <li class="page-item">
                                        <a class="page-link" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    @if (Model.GroupIdFiler == null && Model.TypeIdFiler == null)
                                    {
                                        <li class="page-item">
                                            <a class="page-link" href="/courses/page/@nextPageNumber/null/null" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </li>
                                    }
                                    else if (Model.GroupIdFiler != null && Model.TypeIdFiler == null)
                                    {
                                        <li class="page-item">
                                            <a class="page-link" href="/courses/page/@nextPageNumber/@Model.GroupIdFiler" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </li>
                                    }
                                    else if (Model.GroupIdFiler == null && Model.TypeIdFiler != null)
                                    {
                                        <li class="page-item">
                                            <a class="page-link" href="/courses/page/@nextPageNumber/null/@Model.TypeIdFiler" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="page-item">
                                            <a class="page-link" href="/courses/page/@nextPageNumber/@Model.GroupIdFiler/@Model.TypeIdFiler" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                        </nav>
                    </div>
                    <div>
                        <select class="select-types select" onchange="SelectChanged()">
                            @if (Model.TypeIdFiler == null)
                            {
                                <option value="all" selected="selected">All types</option>
                            }
                            else
                            {
                                <option value="all">All types</option>
                            }
                            @foreach (var item in Model.CoursesTypes)
                            {
                                if (Model.TypeIdFiler == null)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                                else
                                {
                                    if (item.Id == new Guid(Model.TypeIdFiler))
                                    {
                                        <option value="@item.Id" selected="selected">@item.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                }
                            }
                        </select>
                        <select class="select-groups select" onchange="SelectChanged()">
                            @if (Model.GroupIdFiler == null)
                            {
                                <option value="all" selected="selected">All groups</option>
                            }
                            else
                            {
                                <option value="all">All groups</option>
                            }
                            @foreach (var item in Model.CoursesGroups)
                            {
                                if (Model.GroupIdFiler == null)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                                else
                                {
                                    if (item.Id == new Guid(Model.GroupIdFiler))
                                    {
                                        <option value="@item.Id" selected="selected">@item.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="request-list">
                    @foreach (var item in Model.CoursesPagedList.Items)
                    {
                        <div class="request-item">
                            <p class="name-item">@item.Name</p>
                            <div class="language">@item.CourseGroup.Name</div>
                            <div class="type-of-lesson">@item.CourseType.Name</div>
                            <p class="description-item">
                                @item.Description
                            </p>
                            <a href="/courses/@item.Id" class="more-info">More info...</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="~/js/user.js"></script>
    <script src="~/js/nav-animation.js"></script>
    <script src="~/js/selected-changed.js"></script>
</body>
</html>
